module.exports = {
    clientId: 'YOUR_APP_CLIENT_ID',
    clientSecret: 'YOUR_APP_CLIENT_SECRET',
    audienceName: 'local',
    accessTokenLifetimeSeconds: 1200,
    rabbitMq: {
        username: 'guest',
        password: 'guest',
        host: 'rabbit',
        port: 5672,
        queue: 'yarnyard'
    }
};