<html>
<head>
    <title>Set Password</title>
    <script src="../script/common.js"></script>
    <script src="../script/set-password.js"></script>
</head>
<body>
<h1>Set Password</h1>
<form action="https://login.yarnyard.test/set-password" method="post">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" value="">
    <input type="hidden" name="email" id="email">
    <input type="hidden" name="token" id="token">
    <button type="submit">Submit</button>
</form>